<!DOCTYPE html>
<html>

<head>


    <script src="../../stealthFormat/_global/xlib/jquery/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/i18next/1.6.3/i18next-1.6.3.min.js"></script>



    <meta charset="utf-8">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="expires" content="0">
    <base href="/defaultLoginPage/userApp/loginPage/">
    <link rel="shortcut icon" href="../../_global/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../_global/xlib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../_global/styles/app-style.css">
    <link rel="stylesheet" href="styles/style.css">

    <title>{{_ "menu.headingTitle"}}</title>
</head>

<body>
    <main class="login-wrapper">
        <i class="logo"></i>
        <div class="login-container">
            <form action="/loginPage?template=loginPage&configurationFileLocation=defaultLoginPage/userApp/loginPage&" method="POST">
                <!-- {{#if errText}}
                        <p class="mb-20 validation-msg">{{errText}}</p>{{/if}} -->
                <div class="form-group">
                    <div>
                        <input type="hidden" name="validID" id="validID" value="{{validID}}">
                    </div>
                    <div>
                        <input type="hidden" name="realm" id="realm" value="{{realm}}">
                    </div>
                    <label for="inputUsername">{{_ "menu.userNameTitle"}}</label>
                    <input type="text" name="Username" id="inputUsername" class="form-control" placeholder='{{_ "menu.Entername"}}' required />
                </div>
                <div class="form-group position-relative">
                    <label for="inputPassword">{{_ "menu.passwordTitle"}}</label>
                    <input type="password" name="Password" id="inputPassword" class="form-control" placeholder='{{_ "menu.Enterpassword"}}' required />
                    <i id="togglePswdBtn" class="icons eye-icon"></i>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary disabled1 loading-sm1 mt-30">{{_ "menu.loginTitle"}}</button>
                </div>
            </form>
            <a href="javascript:;">{{_ "menu.forgottenPasswordTitle"}}</a>
        </div>
    </main>
    <footer>
        <div class="footer-logo"></div>
        <p class="copyright">{{_ "menu.copyRight"}}</p>
        <p class="version">{{_ "menu.versionNumber"}}</p>
    </footer>
    <script>
        //This script handles the toggle password field format- Native JS has been used since jQuery is not available.
        document.getElementById("togglePswdBtn").addEventListener("click", function() {
            this.classList.toggle('hide-password');
            var pwdEl = document.getElementById('inputPassword');
            pwdEl.type = (pwdEl.type == 'text') ? 'password' : 'text';
        });
    </script>




</body>

</html>